<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <mirrors>

        <mirror>
            <!-- Repository Management with Nexus 53 -->
            <!--This sends everything else to /public -->
            <id>nexus</id>
            <mirrorOf>*</mirrorOf>
            <url>${MAVEN_REPO}</url>
        </mirror>

    </mirrors>
    <localRepository>/var/jenkins_home/maven-repo</localRepository>
    <servers>
        <server>
            <id>nexus</id>
            <username>${mavenDeployerId}</username>
            <password>${mavenDeployerPassword}</password>
        </server>
        <server>
            <id>releases</id>
            <username>${mavenDeployerId}</username>
            <password>${mavenDeployerPassword}</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>${mavenDeployerId}</username>
            <password>${mavenDeployerPassword}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>releases</id>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <url>${releaseRepoUrl}</url>
                </repository>
                <repository>
                    <id>snapshots</id>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <url>${snapshotRepoUrl}</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <!--make the profile active all the time -->
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>